body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "article1 article2"
        "article3 article3"
        "article4 article4"
        "footer footer"
    ;
    gap: 1rem;
    margin: 1rem;
}
/* HEADER */
.header-container{
    grid-area: header;
    display: flex;
    flex-direction: column;
}
.head-title{
    border-bottom: solid red;
    display: flex;
    justify-content: space-around;
    font: x-large 'Krona One', sans-serif;
}
.title {
    margin: 0;
    align-self: center;
    align-content: center;
}
.img-logo{
    width: 8%;
    display: flex;
    align-self: center;
}
.suscribe{
    display: flex;
    align-self: center;
    border: solid red;
    padding: 0 1rem 0 1rem;
    border-radius: .8rem;
    font: large 'Krona One', sans-serif;
}
.suscribe:hover{
    background-color: red;
    transition-duration: 1seg;
    box-shadow: 7px 13px 37px #000;
}
.nav{
    display: flex;
    justify-content: center;
    margin: 0;
    font: bold large 'Roboto', sans-serif;
}
.menu{
    border-radius: 1rem;
    margin-top: 0;
    padding-left: 0;
    background-color: red;
}
li{
    display: inline;
    padding: 9rem;
}
a{
    text-decoration: none; 
    color: black;
}
a:hover{
    color: white;
    transition-duration:.25s;
}
/* MAIN */
.article1{
    grid-area: article1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 2rem;
    font: large 'Roboto', sans-serif;
    background-color: rgba(223, 170, 170, 0.233);
    border-radius: 20px;
}
.article1:hover{
    background-color: white;
    transition-duration: .5s; 
}
.article2{
    grid-area: article2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 2rem;
    font: large 'Roboto', sans-serif;
    background-color: rgba(223, 170, 170, 0.233);
    border-radius: 20px;
}
.article2:hover{
    background-color: white;
    transition-duration: .5s; 
}
.img-youtube{
    height: 300px;
    width: 600px;
}
.article3{
    grid-area: article3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: large 'Roboto', sans-serif;
    border:solid red;
    border-radius: 10px;
    margin: 2rem;
}
.contenido-art3{
    display: flex;
    padding: 1rem;
    background-color: rgba(223, 170, 170, 0.233);
    border-radius: 10px;
    margin: .5rem;
}
.subt-art3{
    font-size: large;
    font-weight: bold;
}
.img-juego{
    width: 30%;
}
.texto-art3{
    align-self: center;
    font-size:medium;
    text-align: justify;
    padding: 1rem;
    margin: .5rem;
}
.article4{
    grid-area: article4;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: large 'Roboto', sans-serif;
    margin: 0 2rem 2rem 2rem;
    border:solid red;
    border-radius: 10px;
    text-align: center;
}
.img-art4{
    width: 30%;
}
.contenido-art4{
    display: flex;
    padding: 1rem;
    background-color: rgba(223, 170, 170, 0.233);
    border-radius: 10px;
    margin: .5rem;
}
.text-art4 {
    align-self: center;
    font-size:medium;
    text-align: justify;
    padding: 1rem;
    margin: .5rem;
}
/* FOOTER */
.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    border-top: solid black 1px;
    padding: 1rem;
    font: small 'roboto', sans-serif;
    margin: 1rem;
}
.caja1-footer{
    text-align: center;
}
.caja2-footer{
    text-align: center;
}
.footer-img{
    width: 20%;
    height: 80%;
}
/* PAGINA EQUIPOS */
.equip-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); 
    grid-template-rows: minmax(5, 1fr);     
    gap:2rem;
    align-content: center;
}
.equipo{
    display: flex;
    padding: 0.5rem 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;   
    font: large 'roboto', sans-serif;
    transition: transform 1s ease-in-out 0s;
}
.equipo:hover{
    transform:scale(1.5);
}
.titulo-equipos{
    font: bold x-large 'roboto', sans-serif;
    text-align: center;
}
.img-equipos{
    width: 100%;
}
/* PAGINA SUSCRIBE */
.head-subs{
    display: flex;
    font: large 'Krona One', sans-serif;
    border-bottom: solid red;
    justify-content: center;
    gap: 1rem;
}
.cont-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    font: x-large 'roboto', sans-serif;
}
form{
    text-align: center;
    align-self: center;
    width: fit-content;
    font: .8em sans-serif;
    border-radius: 5px;
}
input {
    font-size: .5em;
}
/* PAGINA CORREDORES */
.corredor-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); 
    grid-template-rows: minmax(5, 1fr);     
}
.corredor{
    display: flex;
    padding: 0.5rem 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;   
    font: large 'roboto', sans-serif;
    transition: transform 1s ease-in-out 0s;
}
.corredor:hover{
    transform: scale(1.1);
}
.img-corredor{
    width: 100%;
}
.titulo-corredor{
    font: bold x-large 'roboto', sans-serif;
    text-align: center;
}

/* MEDIA QUERIES */
    /* TABLET */
@media screen and (max-width: 768px) and (min-width:577px) {
    .grid-container{
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "header"
            "article1"
            "article2"
            "article3" 
            "article3"
            "article4" 
            "article4"
            "footer"
        ;
    }
    .head-title{
        font-size: medium;
        justify-content: space-around;
    }
    .img-logo{
        width: 10%;
    }
    .nav{
        font-size: small;
    }
    .suscribe{
        font-size: small;
        padding: 0;
        margin: 0;
    }
    .article1{
        font-size: medium;

    }
    .article2{
        font-size: medium;
    }
    .img-youtube{
        width: 100%;
    }
    .article3{
        font-size: medium;
    }
    .subt-art3{
        font-size: medium;
    }
    .contenido-art3{
        flex-direction: column;
    }
    .texto-art3{
        font-size: small;
    }
    .img-juego{
        height: 100%;
        width: 100%;
        align-self: center;
    }
    .article4{
        font-size: medium;
    }
    .contenido-art4{
        flex-direction: column-reverse;
    }
    .img-art4{
        height: 100%;
        width: 100%;
        align-self: center;
    }
    .text-art4{
        font-size: small;
    }
    .footer{
        font-size: small;
    }
    .footer-img{
        width: 20%;
        height: 40%;
    }
    li{
        padding: 4rem;
    }
    .head-subs{
        font-size: medium;
    }   
}
    /* MOBILE */
@media screen and (max-width: 576px){
    .grid-container{
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "header"
            "article1"
            "article2"
            "article3" 
            "article3"
            "article4" 
            "article4"
            "footer"
        ;
    }
    .head-title{
        font-size: small;
        justify-content: space-around;
    }
    .img-logo{
        width: 10%;
    }
    .nav{
        font-size: small;
    }
    .suscribe{
        font-size: small;
        padding: 0;
        margin: 0;
    }
    .article1{
        font-size: small;

    }
    .article2{
        font-size: small;
    }
    .img-youtube{
        width: 100%;
    }
    .article3{
        font-size: small;
    }
    .subt-art3{
        font-size: small;
    }
    .contenido-art3{
        flex-direction: column;
    }
    .texto-art3{
        font-size: small;
    }
    .img-juego{
        height: 100%;
        width: 100%;
        align-self: center;
    }
    .article4{
        font-size: small;
    }
    .contenido-art4{
        flex-direction: column-reverse;
    }
    .img-art4{
        height: 100%;
        width: 100%;
        align-self: center;
    }
    .text-art4{
        font-size: small;
    }
    .footer{
        font-size: small;
        flex-direction: column;
    }
    .footer-img{
        width: 80%;
        height: 80%;
        align-self: center;
    }
    li{
        padding: 2rem;
    }
    .head-subs{
        font-size: small;
    }      
    .cont-form{
        font-size: medium;
    }
    .img-corredor{
        height: 80%;
        width: 80%;
    }
}